<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>MIHAMA</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">投資シミュレーション</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Savings')}}">積立運用計算</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Pen')}}">年金計算</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Loan')}}">借入金計算</a>
          </li>

        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">ブログ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">ログアウト</a>
          </li>
          <span class="navbar-text ms-3">
            ログイン
          </span>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" style="padding-top: 4rem; padding-bottom: 4rem;">
  </div>

  <!--フッター-->
  <footer id="footer" class="footer text-center pt-2 bg-dark fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col text-white">
          <p>Copyright @ 2023 MIHAMA Inc.</p>
        </div>
      </div>
    </div>
  </footer>

  {% block content %}

  {% endblock %}

</body>

</html>